[submodule "external/stxxl"]
	path = external/stxxl
	url = https://github.com/stxxl/stxxl.git
[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/mirror/tclap.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
